CompileFlags:
  Remove: [-mfp16-format=ieee, -fno-reorder-functions]
---
If:
  PathMatch: firmware/central/app/.*

CompileFlags:
  CompilationDatabase: build/firmware/central/app/zeus_le/nrf5340/cpuapp/app
---
If:
  PathMatch: firmware/central/net/.*

CompileFlags:
  CompilationDatabase: build/firmware/central/app/zeus_le/nrf5340/cpuapp/net
---
If:
  PathMatch: firmware/audio/app/.*

CompileFlags:
  CompilationDatabase: build/firmware/audio/app/zeus_le/nrf5340/cpuapp/app
---
If:
  PathMatch: firmware/audio/net/.*

CompileFlags:
  CompilationDatabase: build/firmware/audio/app/zeus_le/nrf5340/cpuapp/net
---
If:
  PathMatch: firmware/hci_ipc/.*

CompileFlags:
  CompilationDatabase: build/firmware/audio/app/zeus_le/nrf5340/cpuapp/net
---
If:
  PathMatch: firmware/drivers/.*

CompileFlags:
  CompilationDatabase: build/firmware/audio/app/zeus_le/nrf5340/cpuapp/app
---
If:
  PathMatch: firmware/lftpd/.*

CompileFlags:
  CompilationDatabase: build/firmware/audio/app/zeus_le/nrf5340/cpuapp/app
---
If:
  PathMatch: firmware/lftpd/tests/.*

CompileFlags:
  CompilationDatabase: build/firmware/lftpd/tests/native_sim