CompileFlags:
  Remove: [-mfp16-format=ieee, -fno-reorder-functions]
---
If:
  PathMatch: firmware/central/app.*

CompileFlags:
  CompilationDatabase: build/app
---
If:
  PathMatch: firmware/central/net/.*

CompileFlags:
  CompilationDatabase: build/net
---
If:
  PathMatch: firmware/audio/app.*

CompileFlags:
  CompilationDatabase: build/app
---
If:
  PathMatch: firmware/audio/net/.*

CompileFlags:
  CompilationDatabase: build/net