config AUDIO_DUMMY_CODEC
	bool "No-op input codec"
	depends on DT_HAS_ZEPHYR_DUMMY_CODEC_ENABLED
	help
	  Enable dummy input codec implementation

config I2S_ALSA
	bool "Simulated I2S using ALSA"
	depends on DT_HAS_LINUX_ALSA_I2S_ENABLED
	depends on ARCH_POSIX
	help
	  Enable simulated I2S support using ALSA

config I2S_TONE
	bool "Simulated I2S with constant frequency tone"
	depends on DT_HAS_ZEPHYR_TONE_I2S_ENABLED
	help
	  Enable simulated I2S driver that outputs a constant frequency tone

config AUDIO_SGTL5000
	bool "SGTL5000 codec support"
	depends on DT_HAS_NXP_SGTL5000_ENABLED
	depends on I2C
	help
	  Enable SGTL5000 codec support on the selected board