/*
 * Copyright (c) 2024 Ben Wolsieffer
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include "zeus_le_nrf5340_cpuapp_common-pinctrl.dtsi"
#include <zeus/dt-bindings/regulator/bq2515x.h>

/ {

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,bt-hci = &bt_hci_ipc0;
		nordic,802154-spinel-ipc = &ipc0;
		zephyr,ieee802154 = &ieee802154;
		zephyr,wifi = &wlan0;
	};

	aliases {
		watchdog0 = &wdt0;
		i2s = &i2s0;
		codec = &tlv320adc;
	};
};

&clock {
	hfclkaudio-frequency = <11289600>;
};

&vregmain {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregradio {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregh {
	status = "okay";
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&uicr {
	nfct-pins-as-gpios;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	tlv320adc: tlv320adc@4e {
		compatible = "ti,tlv320adcx120";
		reg = <0x4e>;
		// TODO: configure ADC GPIO1 as IRQ in driver. Pull-up should not be
		// necessary as the pin can be configured as push-pull.
		int-gpios = <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

		avdd-supply = <&vdda>;
		internal-areg;

		left {
			channel = <1>;
			line-in;
			slot = <0>;
		};

		right {
			channel = <2>;
			line-in;
			slot = <32>;
		};
	};

	lp5810@50 {
		compatible = "ti,lp5810";
		reg = <0x50>;

		lsd-threshold-percent = <65>;
	};

	bq25150@6b {
		compatible = "ti,bq2515x";
		reg = <0x6b>;
		int-gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;

		charger {
			compatible = "ti,bq2515x-charger";

			constant-charge-current-max-microamp = <100000>;
			input-current-max-milliamp = <150>;
		};

		vdda: ldo {
			compatible = "ti,bq2515x-regulator";

			regulator-initial-mode = <BQ2515X_REGULATOR_MODE_LDO>;
			regulator-min-microvolt = <3100000>;
			regulator-max-microvolt = <3500000>;
		};
	};

	vddd: rt6160a@75 {
		compatible = "richtek,rt6160";
		reg = <0x75>;
		richtek,vsel-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;

		regulator-always-on;
		regulator-min-microvolt = <3100000>;
		regulator-max-microvolt = <3500000>;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-names = "default";
	clock-source = "ACLK";
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";

	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		pwr-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;

		sdmmc {
			compatible = "zephyr,sdmmc-disk";
			status = "okay";
		};

		// Spec says 25 MHz is the max for SPI mode. Next lowest supported by
		// nRF53 SPI is 16 MHz. Probably should hack the driver to allow
		// overclocking to 32 MHz.
		spi-max-frequency = <32000000>;
	};
};

&qspi {
	nrf70: nrf7002@1 {
		compatible = "nordic,nrf7002-qspi";
		status = "okay";
		reg = <1>;
		qspi-frequency = <24000000>;
		qspi-quad-mode;

		iovdd-ctrl-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
		bucken-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		host-irq-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		req-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		status0-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		grant-gpios = <&gpio0 24 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
		swctrl1-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;

		wifi-max-tx-pwr-2g-dsss = <21>;
		wifi-max-tx-pwr-2g-mcs0 = <16>;
		wifi-max-tx-pwr-2g-mcs7 = <16>;

		wifi-max-tx-pwr-5g-low-mcs0 = <9>;
		wifi-max-tx-pwr-5g-low-mcs7 = <9>;
		wifi-max-tx-pwr-5g-mid-mcs0 = <11>;
		wifi-max-tx-pwr-5g-mid-mcs7 = <11>;
		wifi-max-tx-pwr-5g-high-mcs0 = <13>;
		wifi-max-tx-pwr-5g-high-mcs7 = <13>;

		wlan0: wlan {
			compatible = "nordic,wlan";
		};
	};
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
		};
		slot0_ns_partition: partition@50000 {
			label = "image-0-nonsecure";
		};
		slot1_partition: partition@80000 {
			label = "image-1";
		};
		slot1_ns_partition: partition@c0000 {
			label = "image-1-nonsecure";
		};
		/* 0xf0000 to 0xf7fff reserved for TF-M partitions */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};

&ieee802154 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};

/ {
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sram0_image: image@20000000 {
			/* Zephyr image(s) memory */
		};

		sram0_s: image_s@20000000 {
			/* Secure image memory */
		};

		sram0_ns: image_ns@20040000 {
			/* Non-Secure image memory */
		};
	};
};

/* Include partition configuration file */
#include "zeus_le_nrf5340_cpuapp_partition_conf.dts"
