#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

#include "../common/audio.dtsi"

/ {
	chosen {
		zephyr,log-ipc = &ipc_log;
	};

	ipc {
		ipc_log: ipc-log {
			compatible = "zephyr,ipc-openamp-static-vrings";
			memory-region = <&sram_ipc_log>;
			mboxes = <&mbox 2>, <&mbox 3>;
			mbox-names = "tx", "rx";
			role = "host";
			status = "okay";
		};
	};

	sdmmc-cached {
		compatible = "zephyr,disk-cache";
		disk-name = "SD";
		backing-disk-name = "SD_raw";
		sector-size = <512>;
		sector-count = <8>;
	};
};