// SPDX-License-Identifier: GPL-3.0-or-later

#include "../common/audio.dtsi"

/ {
	sdmmc-cached {
		compatible = "zephyr,disk-cache";
		disk-name = "SD";
		backing-disk-name = "SD_raw";
		sector-size = <512>;
		sector-count = <8>;
	};
};