// SPDX-License-Identifier: GPL-3.0-or-later

#include "../common/audio.dtsi"

// Required to enable BT_LLL_VENDOR_NORDIC
&timer0 {
	status = "disabled";
};

// Disable unused hardware
&uart0 {
	status = "disabled";
};
