#include "../common/audio.dtsi"

/ {
	chosen {
		zephyr,log-ipc = &ipc_log;
	};

	ipc {
		ipc_log: ipc-log {
			compatible = "zephyr,ipc-openamp-static-vrings";
			memory-region = <&sram_ipc_log>;
			mboxes = <&mbox 2>, <&mbox 3>;
			mbox-names = "rx", "tx";
			role = "remote";
			status = "okay";
		};
	};
};

// Required to enable BT_LLL_VENDOR_NORDIC
&timer0 {
	status = "disabled";
};

// Disable unused hardware
&uart0 {
	status = "disabled";
};