# Copyright 2020 Peter Bigot Consulting, LLC
# Copyright 2024 Ben Wolsieffer
# SPDX-License-Identifier: Apache-2.0

menuconfig REGULATOR
	bool "Regulator drivers"
	help
	  Include drivers for current/voltage regulators in system config

if REGULATOR

rsource "Kconfig.bq2515x"
rsource "Kconfig.rt6160"

endif # REGULATOR
